<a href="https://colab.research.google.com/github/Karla-Valentin/Fundamentos2_04-11-21/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados en Python 

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

# Listas

-Tipo de dato que agrupa datos o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
      - usando [ ]
      - usando list()
      - usando un generador
- Puede obtener tipos de datos diversos (en otros lenguajes de prog. eso no es posible de forma directa)
- Los elemntos internos se seleccionan con [ ]
-Soporta slicing 
- Son mutables 
- GENERADORES [ var for x in range [10]]
- Al ser una clase contiene muchos métodos útiles

In [17]:
numeros = [ 10,5,2, 3, 1 ]
print(numeros)

# append para agregar elementos a la lista 
numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20 #Para cambiar el 2 a un 20
print(numeros)
numeros[4] = 33
print(numeros)
numeros[-1] = 33 #Con indexado negativo también se puede hacer
print(numeros)
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33, 88]

In [18]:
# tipos diversos

cosas = [12 , 2 , True , "Jose" , 1.57 , ["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1]) #Para sacar qué elemento esta en la posición 1
print(cosas[4])
print(cosas[5])
print(cosas[5][1]) #Para imprimir kiwi de la lista que esta dentro de otra lista 
print(cosas[3][1:3:]) #Para imprimir las letras os de la palabra "Jose"
cosas[3] = cosas[3].upper() #upper() para convertir en mayusculas
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [24]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#Ejemplo 1. Imprimir del 4 al 8
print(numeros[3:8])

#Ejemplo 2. Obtener 9,10
print(numeros[8:10])
print(numeros[-3:-1:]) #Con indexado negativo

#Ejemplo 3. Imprimir la lista en orden inverso
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
# Crear una lista con un generador 
numeros = [x for x in range(101)]
print(numeros)

numeros = [x*3 for x in range(101)] #Para que se multiplique por 3 
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# función range()

Tiene los mismos componentes que slicing 

ini , stop , incremento 

range(1,101,1)

In [28]:
numeros = [x for x in range(50, 101)] #Para que empiece desde el 50
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Métodos disponibles de las listas

In [29]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
numeros = [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)

#Para limpiar la lista
#numeros.clear()
print(numeros)
#otra alternativa es poner 
#numeros = []
print(numeros)

#Copy

frutas = ["uvas" , "kiwi" , "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo" , "azul" , "blanco"]
copia2 = colores.copy() #esta función en memoria va a reservar una copia fisica 
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

#count 

print("Numero de veces que aparece el 15=" , numeros.count(15))

#extend

nombres = ["jose" , "pedro" , "karina"]
otrosNombres = ["josue" , "diana" , "daira"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el metodo extend
otrosNombres.extend(["jesus" , "maria" , "jose"])
print(otrosNombres)

#index
print("jesus esta en la posicion:" , otrosNombres.index("jesus"))

#insert
otrosNombres.insert(4,  "Espiritu santo") #insertar un elemento
print(otrosNombres)

#pop
resultado = otrosNombres.pop() #saca el ultimo elemnto y lo regresa
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'daira']
['jose', 'pedro', 'karina', 'josue', 'diana', 'daira']
['josue', 'diana', 'daira']
['josue', 'diana', 'daira', 'jesus', 'maria', 'jose']
jesus esta en la posicion: 3
['josue', 'diana', 'daira', 'jesus', 'Espiritu santo', 'maria', 'jose']
['josue', 'diana', 'daira', 'jesus', 'Espiritu santo', 'maria']
jose